.form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.form fieldset {
	padding: 12px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.form fieldset div {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
